<h4>{{mensagem}}</h4>

<h3 class="produtos" *ngIf="lista.length<=0">
não existem produtos na vitrine</h3>

<div class="card-grid">
    <div class="row">
      <div *ngFor="let item of lista; let i = index" [class.col-md-4]="true">
        <div class="card"> <!-- adiciona a classe .card aqui -->
          <img src="assets/{{item.codigo}}.jpg" class="card-img-top" alt="{{item.nome}}">
          <div class="card-body">
            <h4 class="card-title">{{item.nome}}</h4>
            <p class="card-text">{{item.descritivo}}</p>
            <p class="card-text">R$ {{item.valor}}</p>
            <button class="btn btn-primary" (click)="verDetalhe(item)">Ver Mais</button>
            <button *ngIf="item.quantidade>0" class="btn btn-success" (click)="adicionarItem(item)">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>